<a href="/messages/new" class="btn btn-success">New message</a>
<h2>Messages</h2>
<table class="table">
  <tr><th></th><th>Subject</th></tr>
  <% @messages.each do |m| %>
    <tr>
      <td>
      <% unless m.mail_to == current_user.profile.email %>
          <strong>Sent to:</strong> <%= m.mail_to %>
      <% else %>
        <strong>Mail from:</strong> <%= m.mail_from %> 
    <% end %>

  </td>
  <td>
    <% if m.mail_status == 1 %>
      <strong><%= m.subject %></strong>
    <% else %>
      <%= m.subject %>
    <% end %>
  </td>
</tr>
<% end %>
</table>
